${include('DATA_CHECK')}

<div class="prose max-w-full">
	
	<p>Built by:</p>
	<ul>
		<li><a href="https://kai.news">Kai Schwaiger</a></li>
	</ul>
	
	<p>Built with:</p>
	<ul>
		<li><a href="https://structr.com">Structr</a></li>
		<li><a href="https://tailwindcss.com/">TailwindCSS</a></li>
		<li><a href="https://lofiui.co/">lofiui</a><br>(I like TailwindUI components better but am unsure about redistribution as an example application)</li>
	</ul>

	<p>Data:</p>
	<ul>
		<li><a href="https://github.com/FEND16/movie-json-data/blob/master/json/top-rated-movies-01.json">Example Movie Dataset by attilac</a><br>(Some poster images are not loading because their URLs are outdated)</li>
	</ul>
</div>